# Authentication Configuration
CUSTOMER_PORTAL_AUTH_BASE_URL=your_auth_base_url
CUSTOMER_PORTAL_AUTH_CLIENT_ID=your_client_id
CUSTOMER_PORTAL_AUTH_SIGN_IN_REDIRECT_URL=your_sign_in_redirect_url
CUSTOMER_PORTAL_AUTH_SIGN_OUT_REDIRECT_URL=your_sign_out_redirect_url

# Backend Configuration
CUSTOMER_PORTAL_BACKEND_BASE_URL=your_backend_base_url

# Theme Configuration (Choose one: acrylicOrange, acrylicPurple, highContrast, classic)
CUSTOMER_PORTAL_THEME=oxygen_ui_theme

# Logging Configuration (Choose one: DEBUG, INFO, WARN, ERROR)
CUSTOMER_PORTAL_LOG_LEVEL=log_level

# Global Notification Banner Configuration
CUSTOMER_PORTAL_MAINTENANCE_BANNER_VISIBLE=false/true
CUSTOMER_PORTAL_MAINTENANCE_BANNER_SEVERITY=info/warning/success/error
CUSTOMER_PORTAL_MAINTENANCE_BANNER_TITLE="Title"
CUSTOMER_PORTAL_MAINTENANCE_BANNER_MESSAGE="Message"
CUSTOMER_PORTAL_MAINTENANCE_BANNER_ACTION_LABEL="Action Label"
CUSTOMER_PORTAL_MAINTENANCE_BANNER_ACTION_URL="Action Url"
